#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: #ececec
}

#tab-container {
    height: 40px;
    line-height: 40px;
    flex-grow: 1
}
#tab-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 0.8;
}

#tab-list .item {
    padding: 0 10px;
    cursor: pointer;
}
#tab-list .item:hover,#tab-list .item.active {
    background-color: #FFFFFF;
    opacity: 1;
}
#tab-list .item span {
    height: 40px;
    line-height: 40px;
}

